extends layout.pug

block content
  section#container
    h2 Sigma 
    form(action="/data", method="get")
      lebel Please enter a number 
        input(type="text", name="number")
      button(type="submit") Submit
    p= message
    h2 From AJAX
    #ajax
