extends layout.pug

block content
  section#container
    if name
      h2 Welcome, #{name}
    else 
      form(action="/trackName", method="get")
        lebel Please enter your name: 
          input(type="text", name="name")
        button(type="submit") Submit